.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.second {
  font-size: 30px;
}

.result-word {
  margin-right: 8px;
}

.word-highlight {
  font-weight: 600;
  font-size: 24px;
  text-decoration: underline;
}

p {
  line-height: 2.5rem !important;
}

.hide-mobile {
  display: none;
}

.hg-theme-default .hg-button {
  height: 45px !important;
}


.react-simple-keyboard {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 500px) {
  .react-simple-keyboard {
    display: none;
  }

  .hide-mobile {
    display: flex;
  }
}